body {
  background-color: plum;
  color: white;
  font-size: 20px;
}
p {
  color: lightblue;
  font-size: 15px;
}

h3 {
  font-size: 40px;
  color: greenyellow;
}

div {
  background: pink;
  width: 500px;
}
