body {
  background: linear-gradient(pink, #fae7e0);

  color: white;
  font-size: 20px;
  /* always have margin and padding to 0 */
  margin: 0;
  padding: 0;
}

p {
  font-family: "Londrina Outline", cursive;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  margin-top: 0px;
  margin-bottom: 15px;
  padding-top: 10px;
  color: grey;
  font-size: 16px;
  line-height: 1.4;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  color: white;
  margin-top: 0px;
  text-shadow: 2px 2px #888686;
}

h2 {
  font-size: 30px;
  margin-bottom: 0px;
  font-family: "Roboto", sans-serif;
  text-shadow: 2px 2px #9f9a9a;
}

div {
  width: 500px;
}

header {
  /* background: #bedbd2cc; */
  background: #d097a2;
  padding-top: 60px;
  padding-bottom: 50px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  text-align: center;
}

.container {
  width: 80%;
  /* can't be bigger than a 1000 pixels */
  max-width: 1000px;
  /* margin 0 auto centers text */
  margin: 0 auto;
}

section {
  float: left;
  width: 70%;
  margin-bottom: 100px;
}

.one {
  float: right;
  width: 25%;
}

footer {
  text-shadow: 2px 2px #9f9a9a;
  background-color: #cbe9df;
  clear: both;
  padding: 30px 0;
  text-align: center;
}

.footer {
  color: white;
}
