body {
  background-color: black;
  color: white;
  font-size: 20px;
  /* always have margin and padding to 0 */
  margin: 0;
  padding: 0;
}
p {
  margin-top: 0px;
  margin-bottom: 15px;
  color: lightblue;
  font-size: 15px;
  line-height: 1.4;
}

h1 {
  font-size: 40px;
  color: white;
  margin-top: 0px;
  text-align: center;
}

div {
  width: 500px;
}

header {
  background-color: #326273;
  margin-top: -20px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  color: white;
  text-transform: uppercase;
}

.container {
  width: 80%;
  /* can't be bigger than a 1000 pixels */

  max-width: 1000px;
  /* margin 0 auto centers text */
  margin: 0 auto;
}
